<div class="container">
  <table class="table table-striped" *ngIf="showList">
    <!-- Capçalera de la taula -->
    <thead>
      <tr>
        <th>nom</th>
        <th>cognom</th>
        <th>email</th>
        <th>dni</th>
      </tr>
    </thead>

    <tbody>
      <!-- Bucle per a printejar tots els usuaris dinte la taula -->
      <tr [title]="users.name + 'details'" *ngFor="let users of users">
        <td>{{ users.name }}</td>
        <td>{{ users.surname }}</td>
        <td>{{ users.email }}</td>
        <td>{{ users.id }}</td>

        <!-- Boto vinculat al metode detalls del TypeScript -->
        <button type="button" (click)="detalls(users)">Detalls</button>
      </tr>
    </tbody>
  </table> 
  
  <!-- Input text on introduir les dades de nous usuaris -->
  <div class="botons-baix" style="text-align: center;">
    <!-- Input text on introduir les dades de nous usuaris -->
    <input class="input-gran" type="text" placeholder="Nom" #name />
    <input class="input-gran" type="text" placeholder="Cognom" #surname />
    <input class="input-gran" type="text" placeholder="Email" #email />
    <input class="input-gran" type="text" placeholder="DNI" #id />

    <!-- Boto vinculat al metode AfegirUsuari el qual agafa les dades dels input texts superiors -->
    <button
      class="botogran"
      (click)="afegirUsuari(name.value, surname.value, email.value, id.value)"
    >
      Afegir Usuari
    </button>

    <!-- Boto vinculat a la variable showList de la classe ProductListComponent per a mostrar / amagar la llista -->
    <button class="botogran" (click)="showList = !showList">
      {{ showList ? 'Amagar' : 'Mostrar' }} Llista
    </button>
  </div>
</div>
