<div class="container">
  <table class="table table-striped">
    <!-- Capçalera de la taula -->
    <thead>
      <tr>
        <th>nom</th>
        <th>cognom</th>
        <th>email</th>
        <th>dni</th>
      </tr>
    </thead>

    <tbody>
      <!-- Bucle per a printejar tots els usuaris dinte la taula -->
      <tr [title]="products.name + 'details'" *ngFor="let products of products">
        <td>{{ products.name }}</td>
        <td>{{ products.surname }}</td>
        <td>{{ products.email }}</td>
        <td>{{ products.id }}</td>

        <!-- Boto vinculat al metode detalls del TypeScript -->
        <button type="button" (click)="detalls(products)">Detalls</button>
      </tr>
    </tbody>

    <button (click)="afegirUsuari(task.value)">Afegir Usuari</button>

    <input type="text" placeholder="Afegix nou usuari" #task />

    <!-- <h2>Products</h2>
<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + 'details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description:{{ product.description }}</p>

  <button type="button" (click)="share()">Share</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
-->
  </table>
</div>
