<div class="container">
  <table class="table table-striped">
    <!-- Capçalera de la taula -->
    <thead>
      <tr>
        <th>nom</th>
        <th>cognom</th>
        <th>email</th>
        <th>dni</th>
      </tr>
    </thead>

    <tbody>
      <!-- Bucle per a printejar tots els usuaris dinte la taula -->
      <tr [title]="users.name + 'details'" *ngFor="let users of users">
        <td>{{ users.name }}</td>
        <td>{{ users.surname }}</td>
        <td>{{ users.email }}</td>
        <td>{{ users.id }}</td>

        <!-- Boto vinculat al metode detalls del TypeScript -->
        <button type="button" (click)="detalls(users)">Detalls</button>
      </tr>
    </tbody>

    <input type="text" placeholder="Nom" #name />
    <input type="text" placeholder="Cognom" #surname />
    <input type="text" placeholder="Email" #email />
    <input type="text" placeholder="DNI" #id />

    <button (click)="afegirUsuari(name.value, surname.value, email.value, id.value)">
      Afegir Usuari
    </button>

    <!-- <h2>Products</h2>
<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + 'details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description:{{ product.description }}</p>

  <button type="button" (click)="share()">Share</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
-->
  </table>
</div>
